*.ilk
*.pdb
*.log
*.idb
*.tlog
*.tlog/
*.lastbuildstate

*.sdf
*.user
*.suo

Intermediates/
ipch/

*.a
*~
CMakeFiles
CMakeCache.txt
cmake_install.cmake
*.cbp
*.so
*.layout
Makefile

bin/
obj/
*.db
*.opendb

.idea
*.iml
